.label {
    font-size: 2rem;
}

.authForm>table>tbody>tr>td>div {
    position: absolute;
}

.errorFadeIn {
    color: rgb(197, 1, 1);
    font-size: 2rem;
    font-weight: bolder;

    text-align: center;
}

.errorFadeOut {
    color: rgb(197, 1, 1);
    font-size: 2rem;
    font-weight: bolder;

    text-align: center;

    opacity: 0;
    transition: opacity 2.5s ease-out;
}

.authForm>table {
    margin-left: auto;
    margin-right: auto;
}

.authForm>table>tbody>tr {
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
    justify-content: center;
    align-content: center;
}

.authForm>table>tbody>tr>td {
    justify-content: center;
    align-content: center;
}

.authInputContainer>.input {
    width: 100%;
    text-align: left;
}

.button {
    width: 100%;
}