#customerInfoForm {
    width: 60rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#customerInfoForm>table {
    border-spacing: 1.7rem .1rem;

    font-size: 1.4rem;

    table-layout: fixed;

    text-align: left;

    margin-left: auto;
    margin-right: auto;
}

#customerInfoForm>table>tbody>tr>td>label {
    text-align: left;
}

#errorUl {
    position:absolute;
}

#errorUl {
    list-style-type: none;
}