#editTableForm {
    font-size: 100%;

    margin-top: 3%;
    margin-bottom: 3%;
    
    width: 105%;
    max-width: 100vw;

    display: block;
}

#editTableForm>table {
    table-layout: fixed;
    /* border-collapse: collapse; */
    box-sizing: border-box;
}

#editTableForm>table>tbody>tr>td>input[type="number"] {
    width: 9ch;
}

#editTableForm>table>tbody>tr>td>input[type="text"] {
    width: 18ch;
}

#editTableForm>table>tbody>tr>td>select {
    width: 16ch;
}

/* #editTableForm>table>thead>tr>th {
    word-wrap: break-word;
} */

/* #editTableForm>table>tbody {
    display:flexbox;
}

#editTableForm>table>tbody>tr>td {
    word-wrap: break-word;
    box-sizing: border-box;
}

#editTableForm>table>tbody>tr>td>input {
    margin: 0px;
    padding: 0px;
}


#editTableForm>table>tbody>tr>td>select {
    width: 100%;
    font-size: 1.4rem;


} */