#editTableForm {
    font-size: 100%;

    margin-top: 3%;
    margin-bottom: 3%;
    
    width: 100%;
    max-width: 100vw;

    display: block;
}

#editTableForm>table {
    table-layout: fixed;
    border-collapse: separate;
    box-sizing: border-box;
}

#editTableForm>table>tbody>tr>td>input[type="number"] {
    min-width: 9ch;
    width: 30%;
}

#editTableForm>table>tbody>tr>td>input[type="text"] {
    min-width: 18ch;
}

#editTableForm>table>tbody>tr>td>select {
    min-width: 16ch;
}

#editTableForm>table>tbody>tr>td>input[type="date"] {
    min-width: 16ch;
}

#editTableForm>table>tbody>tr {
    align-content: space-between;
}