.receiptTable {
    background-color: aliceblue;
    max-width: 30%;
    border-collapse: collapse;

    margin-top: 5%;
}

.receiptTable thead, tbody{
    border-bottom: dashed black .1rem;
}

.successTd {
    font-size: 1.8rem;
    font-weight: bolder;
}

.receiptTd {
    font-size: 1.5rem
}

.receiptLabel, .info {
    white-space: nowrap;
}

.receiptLabel {
    text-align: left;
}

.info {
    text-align: right;
}

.totalTr {
    border-bottom: .05rem black dashed;
}

#grandTotalTr {
    border-top: .1rem black dashed;
}

#grandTotalTd {
    font-size: 1.2rem;
    font-weight: bolder;
}